In [ ]:
import pandas as pd
df = pd.read_csv("/content/Student_Data - MOCK_DATA (3).csv.csv")

In [ ]:
df.head()

,student_id,student_full_name,address,state,university_name,unversity_state,unversity_type,high_school_name,high_school_state,high_school_type,university_major
0,345,Derwin Boutell,89 Spohn Street,FL,Whitman College,WA,Private,Cape Coral School,FL,Public,Business
1,353,Karyl Duckinfield,760 Eagle Crest Parkway,FL,Wellesley College,MA,Private,Cape Coral School,FL,Public,Medical & Life Sciences
2,224,Alica Bruyntjes,2922 Glendale Terrace,FL,Warren Wilson College,NC,Private,Cape Coral School,FL,Public,Medical & Life Sciences
3,789,Sibeal Josiah,19 Eliot Place,FL,University of Wisconsin-Superior,WI,Public,Cape Coral School,FL,Public,Visual & Performance Arts
4,451,Ky Blockley,54 Westridge Drive,FL,University of Wisconsin-Parkside,WI,Public,Cape Coral School,FL,Public,Liberal Arts

In [ ]:
high_school_info = df[['high_school_name', 'high_school_state', 'high_school_type']]
high_school_info = high_school_info.drop_duplicates(subset=['high_school_name']).reset_index(drop=True)
high_school_info['high_school_id'] = high_school_info.index
high_school_dim = high_school_info[['high_school_id', 'high_school_name', 'high_school_state', 'high_school_type']]
print(high_school_dim)

    high_school_id                high_school_name high_school_state  \
0                0               Cape Coral School                FL
1                1                        Eastwood                CA
2                2                         Fortuna                NJ
3                3        Frozen Lake Conservatory                UT
4                4                   Granite Hills                TX
5                5   Grapevine School of Fine Arts                CA
6                6               Horizon Institute                GA
7                7  Little Valley Secondary School                PA
8                8                Lone Pine School                FL
9                9                     Palm Valley                SC
10              10         Pine Hills Conservatory                CT
11              11            Pine Hills Institute                AL
12              12           Pleasant Grove School                IL
13              13         Redlands Charter School                WA
14              14                       Riverview                SC
15              15                       Southview                IL
16              16                Stonewall School                AL
17              17      Summerville Charter School                SC
18              18             Waterfall Institute                TN
19              19                    Winters High                MA

   high_school_type
0            Public
1            Public
2           Private
3           Private
4            Public
5           Private
6           Private
7            Public
8            Public
9            Public
10          Private
11          Private
12           Public
13          Private
14           Public
15           Public
16           Public
17          Private
18          Private
19           Public

In [ ]:
university_info = df[['university_name', 'unversity_state', 'unversity_type']]
university_school_info = university_info.drop_duplicates(subset=['university_name']).reset_index(drop=True)
university_school_info['university_id'] = university_school_info.index
university_dim = university_school_info[['university_id', 'university_name', 'unversity_state', 'unversity_type']]
print(university_dim)

     university_id                      university_name unversity_state  \
0                0                      Whitman College              WA
1                1                    Wellesley College              MA
2                2                Warren Wilson College              NC
3                3     University of Wisconsin-Superior              WI
4                4     University of Wisconsin-Parkside              WI
..             ...                                  ...             ...
234            234  University of Wisconsin-River Falls              WI
235            235                Oglethorpe University              GA
236            236                        Hiram College              OH
237            237                  University of Miami              FL
238            238                        Colby College              ME

    unversity_type
0          Private
1          Private
2          Private
3           Public
4           Public
..             ...
234         Public
235        Private
236        Private
237        Private
238        Private

[239 rows x 4 columns]

In [ ]:
major_info = df[['university_major']]
university_major_info = major_info.drop_duplicates(subset=['university_major']).reset_index(drop=True)
university_major_info['major_id'] = university_major_info.index
major_dim = university_major_info[['major_id', 'university_major']]
print(major_dim)

   major_id           university_major
0         0                   Business
1         1    Medical & Life Sciences
2         2  Visual & Performance Arts
3         3               Liberal Arts
4         4   Engineering & Technology

In [ ]:
df = df.merge(high_school_dim, on='high_school_name', how='left')
df = df.merge(university_dim, on='university_name', how='left')
df = df.merge(major_dim, on='university_major', how='left')
print(df)

In [ ]:
university_dim = university_dim.rename(columns={'unversity_state': 'university_state', 'unversity_type': 'university_type'})
student_table = df.merge(high_school_dim, on='high_school_name') \
                  .merge(university_dim, on='university_name') \
                  .merge(major_dim, on='university_major') \
                  [['student_id', 'student_full_name', 'address', 'state', 'university_name', 'university_state', 'university_type', 'high_school_name', 'high_school_name']]

In [ ]:
student_table

,student_id,student_full_name,address,state,university_name,university_state,university_type,high_school_name,high_school_name
0,345,Derwin Boutell,89 Spohn Street,FL,Whitman College,WA,Private,Cape Coral School,Cape Coral School
1,512,Kaleb Whardley,1962 Sunnyside Terrace,WA,Whitman College,WA,Private,Redlands Charter School,Redlands Charter School
2,331,Ashlin Hallybone,3018 Schlimgen Parkway,GA,Wellesley College,MA,Private,Horizon Institute,Horizon Institute
3,776,Ame Haskins,50 Green Street,PA,Wellesley College,MA,Private,Little Valley Secondary School,Little Valley Secondary School
4,621,Ronni Geere,487 Elgar Court,WA,Wellesley College,MA,Private,Redlands Charter School,Redlands Charter School
...,...,...,...,...,...,...,...,...,...
995,247,Launce Bulcock,7051 Northfield Parkway,IL,Yeshiva University,NY,Private,Southview,Southview
996,503,Lucho Gulliford,7546 American Ash Park,TN,Yale University,CT,Private,Waterfall Institute,Waterfall Institute
997,576,De witt Chucks,05325 Debs Point,AL,University of Wisconsin-River Falls,WI,Public,Stonewall School,Stonewall School
998,588,Merrel Achurch,47714 5th Court,TN,Hiram College,OH,Private,Waterfall Institute,Waterfall Institute
999,678,Annabela Codman,230 Maple Crossing,TN,Colby College,ME,Private,Waterfall Institute,Waterfall Institute

### DataLoader

In [ ]:
import io
import pandas as pd
import requests
if 'data_loader' not in globals():
    from mage_ai.data_preparation.decorators import data_loader
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test


@data_loader
def load_data_from_api(*args, **kwargs):
    url = 'https://storage.googleapis.com/student-data-engineer-project/Student_Data%20-%20MOCK_DATA%20(3).csv.csvuden'
    response = requests.get(url)

    return pd.read_csv(io.StringIO(response.text), sep=',')


@test
def test_output(output, *args) -> None:
    assert output is not None, 'The output is undefined'

### Transformer

In [ ]:
import pandas as pd
if 'transformer' not in globals():
    from mage_ai.data_preparation.decorators import transformer
if 'test' not in globals():
    from mage_ai.data_preparation.decorators import test


@transformer
def transform(df, *args, **kwargs):
    high_school_info = df[['high_school_name', 'high_school_state', 'high_school_type']]

    high_school_info = high_school_info.drop_duplicates(subset=['high_school_name']).reset_index(drop=True)

    high_school_info['high_school_id'] = high_school_info.index

    high_school_dim = high_school_info[['high_school_id', 'high_school_name', 'high_school_state', 'high_school_type']]

    university_info = df[['university_name', 'unversity_state', 'unversity_type']]

    university_school_info = university_info.drop_duplicates(subset=['university_name']).reset_index(drop=True)

    university_school_info['university_id'] = university_school_info.index

    university_dim = university_school_info[['university_id', 'university_name', 'unversity_state', 'unversity_type']]

    major_info = df[['university_major']]

    university_major_info = major_info.drop_duplicates(subset=['university_major']).reset_index(drop=True)

    university_major_info['major_id'] = university_major_info.index

    major_dim = university_major_info[['major_id', 'university_major']]

    university_dim = university_dim.rename(columns={'unversity_state': 'university_state', 'unversity_type': 'university_type'})

    student_table = df.merge(high_school_dim, on='high_school_name') \
                    .merge(university_dim, on='university_name') \
                    .merge(major_dim, on='university_major') \
                    [['student_id', 'student_full_name', 'address', 'state','high_school_id', 'university_id', 'major_id']]

    return {
        'high_school_dim': high_school_dim.to_dict(orient='dict'),
        'university_dim': university_dim.to_dict(orient='dict'),
        'major_dim': major_dim.to_dict(orient='dict'),
        'student_table': student_table.to_dict(orient='dict')
    }

@test
def test_output(output, *args) -> None:
    assert output is not None, 'The output is undefined'

## Exporter

In [ ]:
from mage_ai.settings.repo import get_repo_path
from mage_ai.io.bigquery import BigQuery
from mage_ai.io.config import ConfigFileLoader
from pandas import DataFrame
from os import path

if 'data_exporter' not in globals():
    from mage_ai.data_preparation.decorators import data_exporter


@data_exporter
def export_data_to_big_query(data, **kwargs) -> None:
    table_id = 'student-data-portfolio.student_data_engineering_port.student_table'
    config_path = path.join(get_repo_path(), 'io_config.yaml')
    config_profile = 'default'

    BigQuery.with_config(ConfigFileLoader(config_path, config_profile)).export(
        DataFrame(data['student_table']),
        table_id,
        if_exists='replace',  # Specify resolution policy if table name already exists
    )

In [ ]:
from mage_ai.settings.repo import get_repo_path
from mage_ai.io.bigquery import BigQuery
from mage_ai.io.config import ConfigFileLoader
from pandas import DataFrame
from os import path

if 'data_exporter' not in globals():
    from mage_ai.data_preparation.decorators import data_exporter


@data_exporter
def export_data_to_big_query(data, **kwargs) -> None:
    config_path = path.join(get_repo_path(), 'io_config.yaml')
    config_profile = 'default'

    for key, value in data.items():
      table_id = 'student-data-portfolio.student_data_engineering_port.{}'.format(key)


      BigQuery.with_config(ConfigFileLoader(config_path, config_profile)).export(
          DataFrame(value),
          table_id,
          if_exists='replace',  # Specify resolution policy if table name already exists
      )

###SQL

In [ ]:
--- Fix the Chicago Error ---
UPDATE student_data_engineering_port.university_dim
SET University_state = 'IL'
WHERE University_name = 'University of Illinois at Chicago'
AND (University_state = 'GA' OR University_state = 'HI' OR University_state = 'ID');

--- University Enrollment Analysis: Total Students by University Name and State ---

SELECT
    ud.university_name,
    ud.university_state,
    COUNT(st.student_id) AS total_students
FROM
    student-data-portfolio.student_data_engineering_port.student_table st
JOIN
    student-data-portfolio.student_data_engineering_port.university_dim ud
ON
  ud.university_id = st.university_id
GROUP BY
    ud.university_name,
    ud.university_state
ORDER BY
    total_students DESC;


--- University Major Enrollment Analysis: Student Percentage by University Major ---

WITH student_counts AS (
    SELECT
        major_dim.major_id,
        major_dim.university_major,
        COUNT(student_table.student_id) AS total_students
    FROM
        student_data_engineering_port.student_table AS student_table
    LEFT JOIN
        student_data_engineering_port.major_dim AS major_dim
    ON
        student_table.major_id = major_dim.major_id
    GROUP BY
        major_dim.major_id,
        major_dim.university_major
)
SELECT
    university_major,
    total_students,
    total_students / (SELECT SUM(total_students) FROM student_counts) AS student_percentage
FROM
    student_counts
ORDER BY
    student_percentage DESC;